<div
  class="modal fade"
  bsModal
  #addNewReportModal="bs-modal"
  [config]="{ backdrop: 'static', show: true }"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-static-name"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">
          Add New <b>ACB</b> Test Report
        </h4>
        <button
          type="button"
          class="btn-close close pull-right"
          aria-label="Close"
          (click)="addNewReportModal.hide()"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
          {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
        </button>
        <mat-stepper [linear]="isLinear" #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Breaker Details</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" label="Protecting against faults">
            <form [formGroup]="secondFormGroup">
              <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                       required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" label="Testing breaker heart"></mat-step>
          <mat-step [stepControl]="secondFormGroup" label="about mechanism"></mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
</div>
