<nav
  class="hide-on-print navbar navbar-dark bg-primary shadow navbar-expand-lg fixed-top"
>
  <div class="container-fluid">
    <a class="navbar-brand">ACB-Test-Report</a>
    <input
      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      hidden
      #fileUpload
      type="file"
      (change)="onFileChange($event)"
    />
    <div>
      <a (click)="fileUpload.click()" class="btn btn-outline-light me-3"
        >Import</a
      >
      <a href="#summary" class="btn btn-outline-light me-3">Go to Summary</a>
      <!-- <a class="btn btn-outline-light" (click)="addNewReportModal.show()"
        >Add New</a
      > -->
    </div>
  </div>
</nav>

<div class="hide-on-print bg-transperant" style="height: 65px"></div>

<div class="mt-5 pt-5 w-100" *ngIf="dataString?.length === 0">
  <div class="alert alert-warning shadow-sm" role="alert">
    <h4 class="alert-heading">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
        viewBox="0 0 16 16"
        role="img"
        aria-label="Warning:"
      >
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
      No Information to show!
    </h4>
    <p>
      Click top right cornor
      <a (click)="fileUpload.click()" role="button" class="alert-link me-1"
        >Import</a
      >
      button to
      <a (click)="fileUpload.click()" role="button" class="alert-link me-1">
        import</a
      >
      excel file
    </p>
  </div>
</div>

<ng-container *ngFor="let acbData of dataString; let ind = index">
  <div class="page mt-0" [id]="acbData['id_no']">
    <div class="row mt-0">
      <!-- *************************** First Page *************************** -->
      <div class="d-flex justify-content-between px-4 mb-0">
        <img src="./assets/logo.png" class="mt-3 ms-3" style="width: 200px" />
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            align-content: flex-start;
          "
        >
          <p class="m-0 p-0 fw-bold ps-2">
            Date :
            <span class="text-dark">{{ acbData["date"] }}</span>
          </p>
          <p class="m-0 p-0 fw-bold border-top-0 ps-2">
            Service :
            <span class="text-dark">{{ acbData["service"] }}</span>
          </p>
        </div>
      </div>
      <div class="col-12 pt-1">
        <h1
          class="text-center"
          style="
            background: #5be2ff;
            color: var(--bs-light);
            border-radius: 4px;
          "
        >
          LV ACB TEST REPORT
        </h1>
      </div>
      <div class="col-7 px-0">
        <div class="ps-5" style="height: 130px">
          <p class="m-0">
            <i class="fa fa-building me-2"></i>Company :
            <span class="text-dark">{{ acbData["customer"] }}</span>
          </p>
          <p class="m-0">
            <i class="fa fa-map-marker me-2"></i> :
            <span class="text-dark">{{ acbData["location"] }}</span>
          </p>
        </div>
      </div>
      <div class="col-5 px-0">
        <div class="ps-5" style="height: 130px">
          <p class="m-0">
            <i class="fa fa-user-secret me-2"></i>
            <span class="text-dark">{{ acbData["contact_person"] }}</span>
          </p>
          <p class="m-0">
            <i class="fa fa-phone me-2"></i>
            <span class="text-dark">{{ acbData["mobile"] }}</span>
          </p>
          <p class="m-0">
            <i class="fa fa-envelope me-2"></i>
            <span class="text-dark">{{ acbData["e_mail"] }}</span>
          </p>
        </div>
      </div>
      <div class="col-12">
        <h4 class="mb-3 alert alert-info py-2">
          <i class="fa fa-search me-2"></i>Know your breaker
        </h4>
      </div>
      <div class="col-7 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Series</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["model"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Model</p>
          <p class="m-0 p-0 mb-2" style="width: 230px">
            : <span class="text-dark">{{ acbData["mlfb"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Z Options</p>
          <p class="m-0 p-0 mb-2 col">
            : <span class="text-dark">{{ acbData["z_options"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">ID No</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["id_no"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Rating</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{ acbData["breaker_rating"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Size</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["size"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">No. of poles</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["pole"] }}</span>
          </p>
        </div>
      </div>
      <div class="col-5 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Type</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["breaker"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Release</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["etu"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Location</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["panel"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Feeder</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["feeder_name"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">ETU Serial No</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["etu_serial_no"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">
            Rating Plug <code>I<sub>n</sub></code>
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["in"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Last Serviced</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{ acbData["last_serviced_on"] }}</span>
          </p>
        </div>
      </div>
      <div class="col-12">
        <h4 class="mb-3 alert alert-info py-2">
          <i class="fa fa-shield me-2"></i>These are protecting against faults
        </h4>
      </div>
      <div class="col-12 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 300px">
            Long Time -Tripping
            <code class="text-secondary">I<sub>r</sub></code> (Overload)
          </p>
          <p class="m-0 p-0 mb-2 col">
            :
            <span class="text-dark"
              >{{ acbData["l_tripping_ir"] }} x {{ acbData["in"] }} =
            </span>
            <span class="text-dark ms-1"
              >{{ acbData["long_time_current"] }} <code>AMPS</code></span
            >
            <span class="text-dark ms-5">Memory = {{ acbData["memory"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 300px">
            L-Time-Lag <code>t<sub>r</sub></code> (@6 x
            <code class="text-secondary">I<sub>r</sub></code
            >)
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{ acbData["l_time_lag_tr"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 300px">
            Short Time - Tripping <code>I<sub>sd</sub></code> (Short Circuit)
          </p>
          <p class="m-0 p-0 mb-2" style="width: 175px">
            :
            <span class="text-dark"
              >{{ acbData["short_time_isd"] }} x {{ acbData["In"] }} =
            </span>
            <span class="text-dark ms-1"
              >{{ acbData["short_time_current_isd"] }} <code>AMPS</code></span
            >
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 300px">
            Time Delay <code>t<sub>sd</sub></code> (@12 x
            <code>I<sub>n</sub></code
            >)
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{ acbData["short_time_delay_tsd"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 300px">
            Instantaneous- Tripping <code>I<sub>i</sub></code> (No Delay)
          </p>
          <p class="m-0 p-0 mb-2 col">
            :
            <span class="text-dark"
              >{{ acbData["i_tripping_ii"] }} x {{ acbData["In"] }} =
            </span>
            <span class="text-dark ms-1"
              >{{ acbData["i_tripping_current_ii"] }} <code>AMPS</code></span
            >
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 300px">
            Neutral Conductor - Tripping <code>I<sub>N</sub></code>
          </p>
          <p class="m-0 p-0 mb-2 col">
            :
            <span class="text-dark me-5 pe-2">{{
              acbData["n_tripping_in"]
            }}</span>
            <span class="text-dark ms-5 ps-5"
              >Protection = {{ acbData["i_n"] }}</span
            >
          </p>
        </div>
        <div class="row">
          <div class="d-flex col-12 mb-3">
            <p class="m-0 p-0">
              Ground-Fault - Tripping <code>I<sub>g</sub></code>
            </p>
            <p class="m-0 p-0 ps-3">
              : <span class="text-dark">{{ acbData["g_ct"] }}</span>
            </p>
            <p class="m-0 p-0 ms-2">
              TRIP :
              <span class="text-dark">{{ acbData["g_tripping_ig"] }}</span>
            </p>
            <p class="m-0 p-0 ms-2">
              ALARM :
              <span class="text-dark">{{ acbData["g_alarm_ig"] }}</span>
            </p>
            <p class="m-0 p-0 ms-2">
              Time Delay tg :
              <span class="text-dark">{{ acbData["time_delay_tg_trip"] }}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <h4 class="mb-3 alert alert-info py-2">
          <i class="fa fa-bolt me-2"></i>Testing breaker heart - Tripping unit
        </h4>
      </div>
      <div class="col-6 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 335px">ETU Status</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["etu_status"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 335px">
            CT Test ( <code>I<sub>g</sub></code> = OFF ;
            <code>I<sub>r</sub></code> = 1.0xIn )
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["ct_test"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 335px">Trip Function Test</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{ acbData["function_test"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 335px">
            Mechanical reclosing lockout
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["mechanical_reclosing_lockout"]
            }}</span>
          </p>
        </div>
      </div>
      <div class="col-6 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2 fw-bold" style="width: 140px">Error Codes</p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 25px">1x</p>
          <p class="m-0 p-0 mb-2 text-dark">= Test device defective</p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 25px">2x</p>
          <p class="m-0 p-0 mb-2 text-dark">=&nbsp;Trip unit defective</p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 25px">4x</p>
          <p class="m-0 p-0 mb-2 text-dark">
            =&nbsp;Incorrect Settings /CT not connected/wrong, missing rating
            plug
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 25px">5x</p>
          <p class="m-0 p-0 mb-2 text-dark">
            =&nbsp;Tripping solenoid F5 not properly connected/ Solenoid
            defective
          </p>
        </div>
      </div>
      <!-- *************************** First Page *************************** -->
    </div>
  </div>
  <div class="page mt-0">
    <div class="row mt-0">
      <!-- *************************** Second Page *************************** -->
      <div class="col-12 d-flex align-items-center d-flex flex-column">
        <p class="fw-bold w-100 text-end pt-3 pe-4">
          ID No : {{ acbData["id_no"] }}
        </p>
        <h4 class="mb-3 w-100 mb-3 alert alert-info py-2">
          <i class="fa fa-cogs me-2"></i>It's about mechanism
        </h4>
      </div>
      <div class="col-6 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 175px">Mechanical Interlock</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{ acbData["mechanical_interlock"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 175px">
            Contact Erosion Indicator
          </p>
          <p class="m-0 p-0 mb-2 col">
            :
            <span class="text-dark">{{
              acbData["contact_erosion_indicator"]
            }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 175px">Racking handle</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{ acbData["racking_handle"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 175px">Racking Mechanism</p>
          <p class="m-0 p-0 mb-2 col">
            :
            <span class="text-dark">{{ acbData["racking_mechanism"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 175px">
            Auxiliary Contact Block
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["auxiliary_contact_block"]
            }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 130px">Lamination Contacts</p>
          <p class="m-0 p-0 mb-2 col">
            :<span class="text-dark">
              {{ acbData["lamination_contacts"] }}
            </span>
          </p>
        </div>
      </div>
      <div class="col-6 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 180px">Pole Sets</p>
          <p class="m-0 p-0 mb-2" style="width: 230px">
            : <span class="text-dark">{{ acbData["pole_set"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 180px">Lubrication</p>
          <p class="m-0 p-0 mb-2" style="width: 230px">
            : <span class="text-dark">{{ acbData["lubrication"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 180px">Contact Presuure</p>
          <p class="m-0 p-0 mb-2" style="width: 230px">
            :
            <span class="text-dark">{{ acbData["contact_pressure"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 180px">Arc Chutes</p>
          <p class="m-0 p-0 mb-2" style="width: 230px">
            : <span class="text-dark">{{ acbData["arc_chutes"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 180px">Shutter</p>
          <p class="m-0 p-0 mb-2" style="width: 230px">
            : <span class="text-dark">{{ acbData["shutter"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 180px">Guide Frame Terminals</p>
          <p class="m-0 p-0 mb-2" style="width: 230px">
            :
            <span class="text-dark">{{
              acbData["guide_frame_terminals"]
            }}</span>
          </p>
        </div>
      </div>
      <div class="col-12">
        <h4 class="mb-3 alert alert-info py-2">
          <i class="fa fa-check-circle me-2"></i>Final tests - Better carry in
          TEST Position
        </h4>
      </div>
      <div class="col-6 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 240px">
            Spring Charging - Manual
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["spring_charging_manual"]
            }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 240px">
            Spring Charging - Motorl
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["spring_charging_motor"]
            }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 240px">
            Breaker Operations - Manual
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["breaker_operations_manual"]
            }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 240px">
            Breaker Operations - Electrical
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["breaker_operations_electrical"]
            }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 240px">
            Ready to Close Interlock
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["ready_to_close_interlock"]
            }}</span>
          </p>
        </div>
      </div>
      <div class="col-6 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 150px">Closing Coil</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["closing_coil"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 150px">Shunt Coil</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["shunt_coil"] }}</span>
          </p>
        </div>
        <div class="d-flex flex-column">
          <div
            style="
              text-align: center;
              color: black;
              font-weight: bolder;
              line-height: 20px;
              margin-top: 20px;
              width: 90%;
              height: 23px;
              background: rgb(255, 120, 9);
              background: linear-gradient(
                90deg,
                rgba(255, 120, 9, 1) 0%,
                rgba(255, 242, 14, 1) 30%,
                rgba(0, 163, 16, 1) 100%
              );
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: start;
              position: relative;
            "
          >
            <div
              style="
                position: absolute;
                width: 1px;
                height: 100%;
                background-color: transparent;
                left: 55%;
              "
              [style.left.%]="acbData['overall_breaker_healthiness'] * 100"
            >
              <label class="chart-label d-flex flex-column">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </label>
            </div>
          </div>
          <p
            style="width: 90%; font-size: 20px"
            class="text-center text-danger fw-bold"
          >
            Overall Breaker Healthiness <br />
            {{ acbData["overall_breaker_healthiness"] * 100 | number }}%
          </p>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-6 pe-0">
            <ul class="list-group">
              <li
                class="list-group-item text-center h4 m-0"
                style="
                  background: var(--bs-orange);
                  color: var(--bs-light);
                  border-top-right-radius: 0;
                "
              >
                <span
                  ><i class="fa fa-exclamation-circle me-2"></i>Mandatory
                  Spares</span
                >
              </li>
              <li class="list-group-item" style="height: 140px">
                <p
                  class="m-0 p-0"
                  *ngFor="let p of acbData['mandatory_spares']?.split(',')"
                >
                  <span class="text-dark">{{ p }}</span>
                </p>
              </li>
            </ul>
          </div>
          <div class="col-6 ps-0">
            <ul class="list-group">
              <li
                class="list-group-item text-center h4 m-0 bg-success text-white"
                style="border-top-left-radius: 0"
              >
                <span
                  ><i class="fa fa-info-circle me-2"></i>Recommended
                  Spares</span
                >
              </li>
              <li class="list-group-item" style="height: 140px">
                <p
                  class="m-0 p-0"
                  *ngFor="let p of acbData['recommended_spares']?.split(',')"
                >
                  <span class="text-dark">{{ p }}</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-6 pe-0">
            <ul class="list-group">
              <li
                class="list-group-item text-center h4 m-0 bg-warning"
                style="border-top-right-radius: 0"
              >
                <span><i class="fa fa-commenting me-2"></i>Our Comments</span>
              </li>
              <li class="list-group-item" style="height: 140px">
                <p
                  class="m-0 p-0"
                  *ngFor="let p of acbData['comments']?.split(',')"
                >
                  <span class="text-dark">{{ p }}</span>
                </p>
              </li>
            </ul>
          </div>
          <div class="col-6 ps-0">
            <ul class="list-group">
              <li
                class="list-group-item text-center h4 m-0 text-white"
                style="background: var(--bs-pink); border-top-left-radius: 0"
              >
                <span><i class="fa fa-list-ul me-2"></i>Open Points</span>
              </li>
              <li class="list-group-item" style="height: 140px">
                <p
                  class="m-0 p-0"
                  *ngFor="let p of acbData['open_points']?.split(',')"
                >
                  <span class="text-dark">{{ p }}</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6">
        <p class="mt-4 mb-0">
          <i class="fa fa-user-md ms-4"></i> Tested by:
          <span class="text-dark">{{ acbData["tested_by"] }}</span>
        </p>
        <p class="mb-4">
          <i class="fa fa-phone me-2 ms-4"></i>
          <span class="text-dark">{{ acbData["contact_no_1"] }}</span>
        </p>
      </div>
      <div class="col-6">
        <p class="mt-4 mb-0">
          <i class="fa fa-user-secret ms-2"></i> Reviewed by:<span
            class="text-dark"
            >{{ acbData["reviewed_by"] }}</span
          >
        </p>
        <p class="mb-4">
          <i class="fa fa-phone me-2 ms-2"></i>
          <span class="text-dark">{{ acbData["contact_no_2"] }}</span>
        </p>
      </div>
      <!-- *************************** Second Page *************************** -->
    </div>
  </div>
</ng-container>

<div
  id="summary"
  class="page mt-0"
  style="height: auto !important; padding-bottom: 15px; margin-bottom: 15px"
>
  <div class="d-flex justify-content-between px-4 mb-0">
    <img src="./assets/logo.png" class="mt-3 ms-3" style="width: 200px" />
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        align-content: flex-start;
      "
    >
      <p class="m-0 p-0 fw-bold ps-2">
        Date :
        <span class="text-dark">{{ dataString[0]["date"] }}</span>
      </p>
    </div>
  </div>
  <div class="col-12 pt-1">
    <h1
      class="text-center"
      style="background: #5be2ff; color: var(--bs-light); border-radius: 4px"
    >
      Summary
    </h1>
  </div>
  <div class="col-12 pt-1 px-3">
    <ul class="list-group rounded-0 text-dark shadow">
      <li class="list-group-item list-group-item-success rounded-0">
        <h4><span class="fa fa-check-circle me-2"></span>Cleared for usage</h4>
        <hr />
        <ol
          *ngIf="breakerHealthinessThan(60, 100) as dd"
          class="list-group list-group-numbered shadow rounded-0 my-3"
        >
          <h6
            class="text-muted text-center m-0 p-0 py-2"
            *ngIf="dd?.length === 0"
          >
            No Data to show
          </h6>
          <li
            *ngFor="let opt of dd"
            class="list-group-item rounded-0 list-group-item-success"
          >
            <a
              style="color: #0f5132; text-decoration: none"
              [href]="'#' + opt['id_no']"
            >
              {{ opt["panel"] }},&nbsp;{{ opt["feeder_name"] }},&nbsp;{{
                opt["breaker_rating"]
              }}
              amps breaker
            </a>
          </li>
        </ol>
      </li>
      <li class="list-group-item list-group-item-warning rounded-0">
        <h4>
          <span class="fa fa-exclamation-circle me-2"></span> Need attention
        </h4>
        <hr />
        <ol
          *ngIf="breakerHealthinessThan(30, 60) as dd"
          class="list-group list-group-numbered shadow rounded-0 my-3"
        >
          <h6 class="text-muted text-center" *ngIf="dd?.length === 0">
            No Data to show
          </h6>
          <li
            *ngFor="let opt of dd"
            class="list-group-item rounded-0 list-group-item-warning"
          >
            <a
              style="color: #664d03; text-decoration: none"
              [href]="'#' + opt['id_no']"
            >
              {{ opt["panel"] }}, &nbsp;{{ opt["feeder_name"] }},&nbsp;{{
                opt["breaker_rating"]
              }}
              amps breaker
            </a>
          </li>
        </ol>
      </li>
      <li class="list-group-item list-group-item-danger rounded-0">
        <h4><span class="fa fa-times-circle me-2"></span>Doesn't Qualify</h4>
        <hr />
        <ol
          *ngIf="breakerHealthinessThan(0, 30) as dd"
          class="list-group list-group-numbered shadow rounded-0 my-3"
        >
          <h6 class="text-muted text-center" *ngIf="dd?.length === 0">
            No Data to show
          </h6>
          <li
            *ngFor="let opt of dd"
            class="list-group-item rounded-0 list-group-item-danger"
          >
            <a
              style="color: #842029; text-decoration: none"
              [href]="'#' + opt['id_no']"
            >
              {{ opt["panel"] }},&nbsp;{{ opt["feeder_name"] }},&nbsp;{{
                opt["breaker_rating"]
              }}
              amps breaker
            </a>
          </li>
        </ol>
      </li>
    </ul>
    <ol class="list-group list-group">
      <li class="list-group-item text-success">
        <span class="fs-5 fa fa-check-circle me-2"></span>
        <span>These breakers can be used safely</span>
      </li>
      <li class="list-group-item text-warning">
        <span class="fs-5 fa fa-exclamation-circle me-2"></span>
        <span
          >Attention to be made while operating these breakers. Our
          recommendations to be followed, else it can result in breaker damage
          or injury.</span
        >
      </li>
      <li class="list-group-item text-danger">
        <span class="fs-5 fa fa-times-circle"></span>
        Utmost attention to be made while operating these breakers.
        Immediately our recommendations to be followed, else it can result in breaker damage
        or injury.
      </li>
    </ol>
  </div>
</div>

<div
  style="background-color: rgba(0, 0, 0, 0.3)"
  *ngIf="inProgress"
  class="position-fixed top-0 start-0 vw-100 vh-100 fixed-top"
>
  <div
    class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
  >
    <div class="spinner-border text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <h6 class="text-white">Please wait...</h6>
  </div>
</div>
<!-- <app-dynamic-form #addNewReportModal [formData]="formData"></app-dynamic-form> -->
<!-- <app-manage-breaker-details #addNewReportModal [formData]="formData"></app-manage-breaker-details> -->
