<nav
  class="hide-on-print navbar navbar-dark bg-primary shadow navbar-expand-lg fixed-top"
>
  <div class="container-fluid">
    <a class="navbar-brand">ACB-Test-Report</a>
    <input hidden #fileUpload type="file" (change)="onFileChange($event)" />
    <a (click)="fileUpload.click()" class="btn btn-outline-light">Import</a>
  </div>
</nav>

<ng-container *ngFor="let acbData of dataString; let ind = index">
  <!-- <h4 class="hide-on-print text-muted mt-3 text-center">{{ acbData["Customer "] }}</h4> -->
  <div class="page mt-2">
    <h6 class="hide-on-print text-center border-bottom pb-2">Page-1</h6>
    <div class="row mt-3">
      <!-- *************************** First Page *************************** -->
      <div class="d-flex justify-content-between px-4 mb-0">
        <img src="./assets/logo.png" class="mt-3 ms-3" style="width: 200px" />
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            align-content: flex-start;
          "
        >
          <p class="m-0 p-0 fw-bold ps-2">
            Date :
            <span class="text-dark">{{ acbData["Date - DD.MM.YYYY"] }}</span>
          </p>
          <p class="m-0 p-0 fw-bold border-top-0 ps-2">
            Service :
            <span class="text-dark">{{ acbData["Service"] }}</span>
          </p>
        </div>
      </div>
      <div class="col-12 pt-1">
        <h1
          class="text-center"
          style="
            background: #5be2ff;
            color: var(--bs-light);
            border-radius: 4px;
          "
        >
          LV ACB TEST REPORT
        </h1>
      </div>
      <div class="col-7 px-0">
        <div class="ps-5" style="height: 130px">
          <p class="m-0">
            <i class="fa fa-building me-2"></i>Company :
            <span class="text-dark">{{ acbData["Customer "] }}</span>
          </p>
          <p class="m-0">
            <i class="fa fa-map-marker me-2"></i> :
            <span class="text-dark">{{ acbData["Location"] }}</span>
          </p>
        </div>
      </div>
      <div class="col-5 px-0">
        <div class="ps-5" style="height: 130px">
          <p class="m-0">
            <i class="fa fa-user-secret me-2"></i>
            <span class="text-dark">{{ acbData["Contact Person"] }}</span>
          </p>
          <p class="m-0">
            <i class="fa fa-phone me-2"></i>
            <span class="text-dark">{{ acbData["Mobile"] }}</span>
          </p>
          <p class="m-0">
            <i class="fa fa-envelope me-2"></i>
            <span class="text-dark">{{ acbData["E-Mail "] }}</span>
          </p>
        </div>
      </div>
      <div class="col-12">
        <h4 class="mb-3 alert alert-info py-2">
          <i class="fa fa-search me-2"></i>Know your breaker
        </h4>
      </div>
      <div class="col-7 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Series</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["Model"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Model</p>
          <p class="m-0 p-0 mb-2" style="width: 230px">
            : <span class="text-dark">{{ acbData["MLFB"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Z Options</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["Z-Options"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">ID No</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["ID no."] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Rating</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{ acbData["Breaker Rating"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Size</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["Size "] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">No. of poles</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["Pole"] }}</span>
          </p>
        </div>
      </div>
      <div class="col-5 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Type</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["Breaker"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Release</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["ETU"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Location</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["Panel"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Feeder</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["Feeder Name"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">ETU Serial No</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["ETU Serial No"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">
            Rating Plug <code>I<sub>n</sub></code>
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["In"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 140px">Last Serviced</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["Last Serviced on - MM/YYYY"]
            }}</span>
          </p>
        </div>
      </div>
      <div class="col-12">
        <h4 class="mb-3 alert alert-info py-2">
          <i class="fa fa-shield me-2"></i>These are protecting against faults
        </h4>
      </div>
      <div class="col-12 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 300px">
            Long Time -Tripping
            <code class="text-secondary">I<sub>r</sub></code> (Overload)
          </p>
          <p class="m-0 p-0 mb-2 col">
            :
            <span class="text-dark"
              >{{ acbData["L-Tripping IR ="] }} x {{ acbData["In"] }} =
            </span>
            <span class="text-dark ms-1"
              >{{ acbData["Long Time Current "] }} <code>AMPS</code></span
            >
            <span class="text-dark ms-5">Memory = {{ acbData["Memory"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 300px">
            L-Time-Lag <code>t<sub>r</sub></code> (@6 x
            <code class="text-secondary">I<sub>r</sub></code
            >)
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["L-Time-Lag tr (@6 x IR)"]
            }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 300px">
            Short Time - Tripping <code>I<sub>sd</sub></code> (Short Circuit)
          </p>
          <p class="m-0 p-0 mb-2" style="width: 220px">
            :
            <span class="text-dark"
              >{{ acbData["Short Time Isd"] }} x {{ acbData["In"] }} =
            </span>
            <span class="text-dark ms-1"
              >{{ acbData["Short Time Current Isd"] }} <code>AMPS</code></span
            >
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 300px">
            Time Delay <code>t<sub>sd</sub></code> (@12 x
            <code>I<sub>n</sub></code
            >)
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["Short Time Delay tsd (@12 x In)"]
            }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 300px">
            Instantaneous- Tripping <code>I<sub>i</sub></code> (No Delay)
          </p>
          <p class="m-0 p-0 mb-2 col">
            :
            <span class="text-dark"
              >{{ acbData["I-tripping Ii ="] }} x {{ acbData["In"] }} =
            </span>
            <span class="text-dark ms-1"
              >{{ acbData["I-tripping Current Ii ="] }} <code>AMPS</code></span
            >
            <!-- <span class="text-dark">{{ acbData["I-tripping Ii ="] }}</span> -->
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 300px">
            Neutral Conductor - Tripping <code>I<sub>N</sub></code>
          </p>
          <p class="m-0 p-0 mb-2 col">
            :
            <span class="text-dark me-5 pe-2">{{
              acbData["N-Tripping IN"]
            }}</span>
            <span class="text-dark ms-5 ps-5"
              >Protection = {{ acbData["I N"] }}</span
            >
          </p>
        </div>
        <div class="row">
          <div class="d-flex col-12 mb-3">
            <p class="m-0 p-0">
              Ground-Fault - Tripping <code>I<sub>g</sub></code>
            </p>
            <p class="m-0 p-0 ps-3">
              : <span class="text-dark">{{ acbData["G-CT"] }}</span>
            </p>
            <p class="m-0 p-0 ms-2">
              TRIP :
              <span class="text-dark">{{ acbData["G-Tripping Ig"] }}</span>
            </p>
            <p class="m-0 p-0 ms-2">
              ALARM :
              <span class="text-dark">{{ acbData["G-Alarm Ig"] }}</span>
            </p>
            <p class="m-0 p-0 ms-2">
              Time Delay tg :
              <span class="text-dark">{{ acbData["Time Delay tg TRIP"] }}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <h4 class="mb-3 alert alert-info py-2">
          <i class="fa fa-bolt me-2"></i>Testing breaker heart - Tripping unit
        </h4>
      </div>
      <div class="col-6 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 335px">ETU Status</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["ETU STATUS"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 335px">
            CT Test ( <code>I<sub>g</sub></code> = OFF ;
            <code>I<sub>r</sub></code> = 1.0xIn )
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["CT Test"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 335px">Trip Function Test</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{ acbData["Function Test"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 335px">
            Mechanical reclosing lockout
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["Mechanical reclosing lockout"]
            }}</span>
          </p>
        </div>
      </div>
      <div class="col-6 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2 fw-bold" style="width: 140px">Error Codes</p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 25px">1x</p>
          <p class="m-0 p-0 mb-2 text-dark">= Test device defective</p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 25px">2x</p>
          <p class="m-0 p-0 mb-2 text-dark">=&nbsp;Trip unit defective</p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 25px">4x</p>
          <p class="m-0 p-0 mb-2 text-dark">
            =&nbsp;Incorrect Settings /CT not connected/wrong, missing rating
            plug
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 25px">5x</p>
          <p class="m-0 p-0 mb-2 text-dark">
            =&nbsp;Tripping solenoid F5 not properly connected/ Solenoid
            defective
          </p>
        </div>
      </div>
      <!-- *************************** First Page *************************** -->
    </div>
  </div>
  <div class="page mt-2">
    <h6 class="hide-on-print text-center border-bottom pb-2">Page-2</h6>
    <div class="row mt-5">
      <!-- *************************** Second Page *************************** -->
      <div class="col-12 d-flex align-items-center d-flex flex-column">
        <p class="fw-bold w-100 text-end pt-3">ID No : 123456789123456789</p>
        <h4 class="mb-3 w-100 mb-3 alert alert-info py-2">
          <i class="fa fa-cogs me-2"></i>It's about mechanism
        </h4>
      </div>
      <div class="col-6 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 220px">Mechanical Interlock</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{ acbData["Mechanical Interlock"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 220px">
            Contact Erosion Indicator
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["Contact Erosion Indicator"]
            }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 220px">Lamination Contacts</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{ acbData["Lamination Contacts"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 220px">Racking handle</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{ acbData["Racking Handle"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 220px">Racking Mechanism</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{ acbData["Racking Mechanism "] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 220px">
            Auxiliary Contact Block
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["Auxiliary Contact Block"]
            }}</span>
          </p>
        </div>
      </div>
      <div class="col-6 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 180px">Pole Sets</p>
          <p class="m-0 p-0 mb-2" style="width: 230px">
            : <span class="text-dark">{{ acbData["Pole Set"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 180px">Lubrication</p>
          <p class="m-0 p-0 mb-2" style="width: 230px">
            : <span class="text-dark">{{ acbData["Lubrication"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 180px">Contact Presuure</p>
          <p class="m-0 p-0 mb-2" style="width: 230px">
            :
            <span class="text-dark">{{ acbData["Contact Pressure"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 180px">Arc Chutes</p>
          <p class="m-0 p-0 mb-2" style="width: 230px">
            : <span class="text-dark">{{ acbData["Arc Chutes"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 180px">Shutter</p>
          <p class="m-0 p-0 mb-2" style="width: 230px">
            : <span class="text-dark">{{ acbData["Shutter"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 180px">Guide Frame Terminals</p>
          <p class="m-0 p-0 mb-2" style="width: 230px">
            :
            <span class="text-dark">{{
              acbData["Guide Frame Terminals"]
            }}</span>
          </p>
        </div>
      </div>
      <div class="col-12">
        <h4 class="mb-3 alert alert-info py-2">
          <i class="fa fa-check-circle me-2"></i>Final tests - Better carry in
          TEST Position
        </h4>
      </div>
      <div class="col-6 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 220px">
            Spring Charging - Manual
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["Spring Charging - Manual"]
            }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 220px">
            Spring Charging - Motorl
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["Spring Charging - Motor"]
            }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 220px">
            Breaker Operations - Manual
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["Breaker Operations - Manual"]
            }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 220px">
            Breaker Operations - Electrical
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["Breaker Operations - Electrical"]
            }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 220px">
            Ready to Close Interlock
          </p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            :
            <span class="text-dark">{{
              acbData["Ready to Close Interlock"]
            }}</span>
          </p>
        </div>
      </div>
      <div class="col-6 ps-5">
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 150px">Closing Coil</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["Closing Coil"] }}</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="m-0 p-0 mb-2" style="width: 150px">Shunt Coil</p>
          <p class="m-0 p-0 mb-2" style="width: 140px">
            : <span class="text-dark">{{ acbData["Shunt Coil"] }}</span>
          </p>
        </div>
        <div class="d-flex flex-column">
          <div
            style="
              text-align: center;
              color: black;
              font-weight: bolder;
              line-height: 20px;
              margin-top: 20px;
              width: 90%;
              height: 23px;
              background: rgb(255, 120, 9);
              background: linear-gradient(
                90deg,
                rgba(255, 120, 9, 1) 0%,
                rgba(255, 242, 14, 1) 30%,
                rgba(0, 163, 16, 1) 100%
              );
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: start;
              position: relative;
            "
          >
            <div
              style="
                position: absolute;
                width: 1px;
                height: 100%;
                background-color: transparent;
                left: 55%;
              "
              [style.left.%]="acbData['Overall Breaker Healthiness'] * 100"
            >
              <label class="chart-label d-flex flex-column">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </label>
            </div>
          </div>
          <p
            style="
              width: 90%;
              font-size: 20px;
            "
            class="text-center text-danger fw-bold"
          >
            Overall Breaker Healthiness <br>
            {{ acbData["Overall Breaker Healthiness"] * 100 | number }}%
          </p>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-6 pe-0">
            <ul class="list-group">
              <li
                class="list-group-item text-center h4 m-0"
                style="
                  background: var(--bs-orange);
                  color: var(--bs-light);
                  border-top-right-radius: 0;
                "
              >
                <span
                  ><i class="fa fa-exclamation-circle me-2"></i>Mandatory
                  Spares</span
                >
              </li>
              <li class="list-group-item" style="height: 140px">
                <p
                  class="m-0 p-0"
                  *ngFor="let p of acbData['Mandatory Spares'].split(',')"
                >
                  <span class="text-dark">{{ p }}</span>
                </p>
              </li>
            </ul>
          </div>
          <div class="col-6 ps-0">
            <ul class="list-group">
              <li
                class="list-group-item text-center h4 m-0 bg-success text-white"
                style="border-top-left-radius: 0"
              >
                <span
                  ><i class="fa fa-info-circle me-2"></i>Recommended
                  Spares</span
                >
              </li>
              <li class="list-group-item" style="height: 140px">
                <p
                  class="m-0 p-0"
                  *ngFor="let p of acbData['Recommended Spares'].split(',')"
                >
                  <span class="text-dark">{{ p }}</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-6 pe-0">
            <ul class="list-group">
              <li
                class="list-group-item text-center h4 m-0 bg-warning"
                style="border-top-right-radius: 0"
              >
                <span><i class="fa fa-commenting me-2"></i>Our Comments</span>
              </li>
              <li class="list-group-item" style="height: 140px">
                <p
                  class="m-0 p-0"
                  *ngFor="let p of acbData['Comments'].split(',')"
                >
                  <span class="text-dark">{{ p }}</span>
                </p>
              </li>
            </ul>
          </div>
          <div class="col-6 ps-0">
            <ul class="list-group">
              <li
                class="list-group-item text-center h4 m-0 text-white"
                style="background: var(--bs-pink); border-top-left-radius: 0"
              >
                <span><i class="fa fa-list-ul me-2"></i>Open Points</span>
              </li>
              <li class="list-group-item" style="height: 140px">
                <p
                  class="m-0 p-0"
                  *ngFor="let p of acbData['Open Points'].split(',')"
                >
                  <span class="text-dark">{{ p }}</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6">
        <p class="mt-4 mb-0">
          <i class="fa fa-user-md ms-2"></i> Tested by:
          <span class="text-dark">{{ acbData["Tested By"] }}</span>
        </p>
        <p class="mb-4">
          <i class="fa fa-phone me-2 ms-2"></i>
          <span class="text-dark">{{ acbData["Contact No: "] }}</span>
        </p>
      </div>
      <div class="col-6">
        <p class="mt-4 mb-0">
          <i class="fa fa-user-secret ms-2"></i> Reviewed by:<span
            class="text-dark"
            >{{ acbData["Reviewed By"] }}</span
          >
        </p>
        <p class="mb-4">
          <i class="fa fa-phone me-2 ms-2"></i>
          <span class="text-dark">{{ acbData["Contact No: _1"] }}</span>
        </p>
      </div>
      <!-- *************************** Second Page *************************** -->
    </div>
  </div>
</ng-container>

<!-- <div
  class="card fixed-bottom shadow mb-3 ms-auto d-none"
  style="max-height:400px;overflow:auto;max-width:50%;"
>
  <div class="card-body">
    <pre>{{ acbData | json }}</pre>
  </div>
</div> -->

<!-- {
  "Sl no": 1,
  "Date - DD.MM.YYYY": "01.03.2022",
  "Service": "OTC",
  "Customer ": "PharmaZell (Vizag)Private Limited,",
  "Location": "Vizag",
  "Contact Person": "Mr. KVV Subba Rao",
  "Mobile": 9704123462,
  "E-Mail ": "subbarao@pharmazell.com",
  "Panel": "PMCC",
  "Feeder Name": "Incomer ",
  "Model": "3WL",
  "MLFB": "3WL11102DG351AA2",
  "ID no.": 6641280130013,
  "Breaker Rating": "1250A",
  "Size ": 1,
  "Pole": "3 Pole",
  "Breaker": "Drawout ",
  "ETU": "ETU45B",
  "Last Serviced on - MM/YYYY": 40969,
  "In": 1000,
  "L-Tripping IR =": 0.55,
  "Long Time Current ": 550,
  "L-Time-Lag tr (@6 x IR)": "14 Sec @I2t",
  "Memory": "ON",
  "Short Time Isd": 2,
  "Short Time Current Isd": 2000,
  "Short Time Delay tsd (@12 x In)": "20 ms",
  "I-tripping Ii =": "4 x In",
  "N-Tripping IN": "0.5 x In",
  "I N": "ON",
  "G-CT": "IG",
  "G-Tripping Ig": "A= 100A",
  "G-Alarm Ig": "A= 100A",
  "Time Delay tg TRIP": "0.3 Sec",
  "ETU STATUS": "OK",
  "CT Test": "ALL OK",
  "Function Test": "L-S-I-N-G-OK",
  "Mechanical reclosing lockout": "OK",
  "Trip Unit (N+G)": "ACTIVE ",
  "Mechanical Interlock": "Castel lock - OK -A",
  "Racking Handle": "OK",
  "Position Indicator": "Not OK",
  "Contact Erosion Indicator": "All Phases - OK",
  "Arc Chutes": "All Phases - OK",
  "Shutter": "OK",
  "Lamination Contacts": "All Phases - OK",
  "Guide Frame Terminals": "TOP R Phase - Defective",
  "Contact Pressure": "OK",
  "Pole Set": "R Phase - Defective",
  "Lubrication": "Completed ",
  "Spring Charging - Manual": "OK",
  "Spring Charging - Motor": "220V AC/DC -OK",
  "Undervoltage": "Not Available",
  "Closing Coil": "220V AC/DC -OK",
  "Shunt Coil": "220V AC/DC -OK",
  "Ready to Close Interlock": "OK",
  "Breaker Operations - Manual": "ON & OFF - OK",
  "Breaker Operations - Electrical": "ON & OFF - OK",
  "CRM Testing Done": "Yes",
  "CRM Values - Before": "1. R Phase - \r\n2. Y Phase - \r\n3. B Phase - \r\n4. N Phase -",
  "CRM Values - After": "1. R Phase - \r\n2. Y Phase - \r\n3. B Phase - \r\n4. N Phase -",
  "Timing Testing Done": "Yes",
  "__EMPTY": "1. R Phase - \r\n2. Y Phase - \r\n3. B Phase - \r\n4. N Phase -",
  "Mandatory Spares": "Lamination Contacts ",
  "Recommended Spares": "Spring Charging Motor",
  "Comments": "Breaker Service and testing Completed - OK",
  "Open Points": "R phase over temperature observed, to be rectified",
  "Overall Breaker Healthiness": 0.55,
  "Tested By": "D Satyanarayana",
  "Contact No: ": 9985623105,
  "Reviewed By": "M Santhosh",
  "Contact No: _1": 9849343545
} -->
